<% layout('layout', { user: user }) %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Editar Produto</h2>
  <a href="/" class="btn btn-outline-secondary">Voltar ao login</a>
</div>
<div class="card">
  <div class="card-body">
    <form action="/produtos/atualizar/<%= produto.id %>" method="POST" class="row g-2">
      <div class="col-md-6">
        <input class="form-control" name="nome" value="<%= produto.nome %>" required>
      </div>
      <div class="col-md-4">
        <input class="form-control" name="preco" value="<%= produto.preco %>" required>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary w-100" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
